<!-- <div class="video-container">
    <video src="../../../assets/videos/fondo.mp4" autoplay loop></video>
</div> -->



<div class="general-container text-center">

    <div class="child-container">
        <div class="social-media">
            <i class="fa-brands fa-facebook-f fb"></i>
            <i class="fa-brands fa-twitter twitter"></i>
        </div>
        
        <div class="logo">
            <img src="../../../assets/logo-completo-horizontal.png" width="20%" alt="logo">
        </div>
    
        <div class="directions">
            <p>ipsum</p>
            <p>Lorem</p>
        </div>
    </div>

</div>


<!-- <div class="header-container">
    
    <div class="title-container col-12">
        <img src="../../../assets/logo-completo-vertical.png" alt="logo">
        <i class="fa-brands fa-facebook-f"></i>
    </div>
    
</div> -->